html {
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
  height: 100%;
}

body {
  background-color: rgb(50, 50, 50);
  color: rgb(50, 50, 50);
  pointer-events: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#image_selector {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 50;
  pointer-events: auto;
  display: flex;
  vertical-align: middle;
}

#image_selector_icon {
  display: flex;
}

#image_selector_icon1 {
  color: black;
  margin: 4px 0px 3px 10px;
  font-size: 24px;
  line-height: 24px;
}

#image_selector select {
  display: none;
  margin: 0px 10px 5px 10px;
  background: rgba(230, 230, 230, 0.7);
  color: rgb(50, 50, 50);
  border: none;
  border-radius: 6px;
  padding: 3px 3px;
}

#image_selector select:hover {
  background-color: rgba(250, 250, 250, 0.9);
}

#image_selector select:focus {
  outline: none;
}

#image_selector h1 {
  color: black;
  margin: 6px 10px 6px 5px;
  font-size: 16px;
  line-height: 20px;
}

#image_selector ul {
  padding: 0px;
  margin: 2px 0px;
  font-size: 0;
  padding: 0;
}

#image_selector li {
  min-width: 20px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 7px;
  margin: 2px 2px;
  border-radius: 12px;
  background-color: rgba(230, 230, 230, 0.7);

  cursor: pointer;
}

#image_selector li div {
  position: absolute;
  transform: translateX(calc(-50% + 10px));
  text-align: center;

  padding: 3px;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);

  pointer-events: none;
}

#image_selector li div img {
  display: block;
  padding: 0;
  margin: 0;
}

#image_selector li:hover {
  background-color: rgba(250, 250, 250, 0.9);
}

#image_selector li.current {
  color: rgb(230, 230, 230);
  background-color: rgba(70, 70, 70, 0.7);
}

#viewer_wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  z-index: 0;
}

.fullPageElem {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.halfPageElemLeft {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.halfPageElemRight {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 50%;
  height: 100%;
  top: 0px;
  right: 0px;
  pointer-events: none;
}

#warning {
  color: rgb(230, 230, 230);
  z-index: 20;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

#warning_inner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
}

#viewer_controls {
  z-index: 100;
}

#viewer_main {
  width: 100vw;
  height: 100vh;
  top: auto;
  bottom: 0px;
  overflow: visible;
  z-index: -1;
}

#image {
  background-color: rgba(50, 50, 50, 1);
  z-index: -1;
  pointer-events: all;
}

#rendering_canvas {
  z-index: 100;
  pointer-events: none;
}

#toolbar {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;
  padding: 3px 3px;
  margin: 7px 7px;
  border-radius: 5px;
  pointer-events: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(200, 200, 200, 0.5);
  pointer-events: all;
  font-size: 0;
  display: grid;
  /* display: none; */
}

#toolbar div {
  display: inline-block;
  font-size: 16px;
  width: 25px;
  height: 20px;
  vertical-align: center;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
  padding: 5px 2px;
  margin: 2px 2px;
  background-color: rgba(230, 230, 230, 0.7);
  pointer-events: auto;
}

#toolbar div:hover {
  background-color: rgba(250, 250, 250, 0.9);
  cursor: pointer;
}

#stats {
  position: absolute;
  bottom: 0px;
  left: 0px;
  pointer-events: auto;
  cursor: pointer;
  z-index: 0;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.7);
  padding: 1px;
  margin: 7px;
  /* display: none; */
}

#gui {
  /* display: none; */
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: auto;
  z-index: 0;
}

#ref_imgs_wrapper {
  /* display: none; */
  display: static;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 7px;
  z-index: 0;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.5);
}

#ref_imgs_wrapper:hover #ref_imgs_button {
  display: inline-block;
}

#ref_imgs_wrapper.closed>#ref_imgs_button {
  display: inherit;
  margin: 3px;
  background: none;
  position: relative;
}

#ref_imgs_wrapper.closed:hover {
  background-color: rgba(200, 200, 200, 1);
}

#ref_imgs_wrapper.closed>#ref_imgs_button:hover {
  background-color: rgba(200, 200, 200, 1);
  cursor: pointer;
}

#ref_imgs_button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 3px;
  font-size: 16px;
  width: 22px;
  height: 18px;
  vertical-align: center;
  text-align: center;
  line-height: 20px;
  padding: 2px 0px;
  margin: 7px;
  pointer-events: auto;
  z-index: 1;
}

#ref_imgs_button:hover {
  background-color: rgba(200, 200, 200, 1);
  cursor: pointer;
}

#ref_imgs {
  display: none;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2px;
  z-index: 0;
}

#ref_imgs_wrapper.closed>#ref_imgs {
  display: none;
}

#ref_imgs div {
  cursor: pointer;
  margin: 2px;
}

#ref_imgs img {
  vertical-align: bottom;
  width: auto;
  height: auto;
  pointer-events: all;
}

#image_info {
  z-index: 100000;
  color: rgb(20, 20, 20);
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  pointer-events: all;
}

#image_info_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 30px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  font-size: 16px;
}

#image_info_inner h1 {
  color: black;
  font-size: 24px;
}

#image_info_close_btn_p {
  text-align: center;
}

#image_info_close_btn_p button {
  color: rgb(50, 50, 50);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: rgba(230, 230, 230, 0.7);
}

#image_info_close_btn_p button:hover {
  color: rgb(50, 50, 50);
  background-color: rgba(250, 250, 250, 0.9);
  cursor: pointer;
}

#image_info_close_btn_p button:focus {
  outline: none;
}

#full_image {
  z-index: 100000;
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  pointer-events: all;
}

#full_image_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 100%;
  text-align: center;
}

#full_image_img {
  max-width: 95%;
  max-height: 90%;
}

#full_image_close_btn_p {
  text-align: center;
}

#full_image_close_btn_p button {
  color: rgb(50, 50, 50);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: rgba(230, 230, 230, 0.7);
}

#full_image_close_btn_p button:hover {
  color: rgb(50, 50, 50);
  background-color: rgba(250, 250, 250, 0.9);
  cursor: pointer;
}

#full_image_close_btn_p button:focus {
  outline: none;
}




.openseadragon-container :focus {
  outline: none;
}

/* .dg {
  display: none;
} */

.dg ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
}

.dg.ac {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 0;
}

.dg:not(.ac) .main {
  overflow: hidden;
}

.dg.main {
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.dg.main>ul>li:first-child {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.dg.main.taller-than-window {
  overflow-y: auto;
}

.dg.main.taller-than-window .close-button {
  opacity: 1;
  margin-top: -1px;
  border-top: 1px solid #2c2c2c;
}

.dg.main ul.closed .close-button {
  opacity: 1 !important;
}

.dg.main ul+.close-button {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dg.main ul.closed+.close-button {
  border-radius: 5px;
}

.dg.main .close-button.drag,
.dg.main:hover .close-button {
  opacity: 1;
}

.dg.main .close-button {
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  border: 0;
  line-height: 27px;
  height: 27px;
  cursor: pointer;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(230, 230, 230, 0.7);
  z-index: -1;
}

.dg.main .close-button.close-top {
  position: relative;
}

.dg.main .close-button.close-bottom {
  position: absolute;
}

.dg.main .close-button:hover {
  background-color: rgba(250, 250, 250, 0.9);
}

.dg.a {
  float: left;
  margin-top: 7px;
  margin-left: 7px;
  overflow-y: visible;
}

.dg.a.has-save>ul.close-top {
  margin-top: 0;
}

.dg.a.has-save>ul.close-bottom {
  margin-top: 27px;
}

.dg.a.has-save>ul.closed {
  margin-top: 0;
}

.dg.a .save-row {
  top: 0;
  z-index: 1002;
}

.dg.a .save-row.close-top {
  position: relative;
}

.dg.a .save-row.close-bottom {
  position: fixed;
}

.dg li {
  -webkit-transition: height 0.1s ease-out;
  -o-transition: height 0.1s ease-out;
  -moz-transition: height 0.1s ease-out;
  transition: height 0.1s ease-out;
  -webkit-transition: overflow 0.1s linear;
  -o-transition: overflow 0.1s linear;
  -moz-transition: overflow 0.1s linear;
  transition: overflow 0.1s linear;
}

.dg li:not(.folder) {
  cursor: auto;
  height: 27px;
  line-height: 27px;
  padding: 0 4px 0 5px;
}

.dg li.folder {
  padding: 0;
}

.dg li.title {
  cursor: pointer;
}

.dg .closed li:not(.title),
.dg .closed ul li,
.dg .closed ul li>* {
  height: 0;
  overflow: hidden;
  border: 0;
}

.dg .cr {
  clear: both;
  padding-left: 3px;
  height: 27px;
  overflow: hidden;
}

.dg .property-name {
  cursor: default;
  float: left;
  clear: left;
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dg .c {
  float: left;
  width: 60%;
  position: relative;
}

.dg .c input[type="text"] {
  border: 0;
  margin-top: 4px;
  padding: 3px;
  width: 100%;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.dg .has-slider input[type="text"] {
  width: 30%;
  margin-left: 0;
}

.dg .slider {
  float: left;
  width: 66%;
  margin-left: -5px;
  margin-right: 0;
  height: 19px;
  margin-top: 4px;
}

.dg .slider-fg {
  height: 100%;
}

.dg .c input[type="checkbox"] {
  margin-top: 7px;
}

.dg .c select {
  margin-top: 5px;
}

.dg .cr.boolean,
.dg .cr.boolean *,
.dg .cr.function,
.dg .cr.function *,
.dg .cr.function .property-name {
  cursor: pointer;
}

.dg .cr.color {
  overflow: visible;
}

.dg .selector {
  display: none;
  position: absolute;
  margin-left: -9px;
  margin-top: 23px;
  background-color: #e6e6e6;
}

.dg .c:hover .selector,
.dg .selector.drag {
  display: block;
}

.dg li.save-row {
  padding: 0;
}

.dg li.save-row .button {
  display: inline-block;
  padding: 0 6px;
}

.dg.dialogue {
  background-color: #222;
  width: 460px;
  padding: 15px;
  font-size: 13px;
  line-height: 15px;
}

#dg-new-constructor {
  padding: 10px;
  color: #222;
  font-family: Monaco, monospace;
  font-size: 10px;
  border: 0;
  resize: none;
  word-wrap: break-word;
  margin: 12px 0;
  display: block;
  width: 440px;
  overflow-y: scroll;
  height: 100px;
  position: relative;
}

#dg-local-explain {
  display: none;
  font-size: 11px;
  line-height: 17px;
  border-radius: 3px;
  background-color: #333;
  padding: 8px;
  margin-top: 10px;
}

#dg-local-explain code {
  font-size: 10px;
}

#dat-gui-save-locally {
  display: none;
}

.dg {
  color: #000;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.dg.main::-webkit-scrollbar {
  width: 5px;
  background: #1a1a1a;
}

.dg.main::-webkit-scrollbar-corner {
  height: 0;
  display: none;
}

.dg.main::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #676767;
}

.dg li:not(.folder) {
  backdrop-filter: blur(10px);
  background: rgba(230, 230, 230, 0.7);
  border-bottom: 1px solid rgba(70, 70, 70, 0.7);
}

.dg li.save-row {
  line-height: 25px;
  background: #dad5cb;
  border: 0;
}

.dg li.save-row select {
  margin-left: 5px;
  width: 108px;
}

.dg li.save-row .button {
  margin-left: 5px;
  margin-top: 1px;
  border-radius: 2px;
  font-size: 9px;
  line-height: 7px;
  padding: 4px 4px 5px 4px;
  background: #c5bdad;
  color: #fff;
  cursor: pointer;
}

.dg li.save-row .button.gears {
  background: #c5bdad url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNpiYKAU/P//PwGIC/ApCABiBSAW+I8AClAcgKxQ4T9hoMAEUrxx2QSGN6+egDX+/vWT4e7N82AMYoPAx/evwWoYoSYbACX2s7KxCxzcsezDh3evFoDEBYTEEqycggWAzA9AuUSQQgeYPa9fPv6/YWm/Acx5IPb7ty/fw+QZblw67vDs8R0YHyQhgObx+yAJkBqmG5dPPDh1aPOGR/eugW0G4vlIoTIfyFcA+QekhhHJhPdQxbiAIguMBTQZrPD7108M6roWYDFQiIAAv6Aow/1bFwXgis+f2LUAynwoIaNcz8XNx3Dl7MEJUDGQpx9gtQ8YCueB+D26OECAAQDadt7e46D42QAAAABJRU5ErkJggg==) 2px 1px no-repeat;
  height: 7px;
  width: 8px;
}

.dg li.save-row .button:hover {
  background-color: #bab19e;
}

.dg li.folder {
  border-bottom: 0;
}

.dg li.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
  filter: invert(100%);
}

.dg li.title {
  padding-left: 16px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  border-bottom: 1px solid rgba(70, 70, 70, 0.7);
}

.dg li.title:hover {
  background-color: rgba(250, 250, 250, 0.9);
}

.dg .closed li.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==) 6px 10px no-repeat;
  filter: invert(100%);
}

.dg .cr.boolean {
  border-left: 3px solid #806787;
}

.dg .cr.color {
  border-left: 3px solid;
}

.dg .cr.function {
  border-left: 3px solid #e61d5f;
}

.dg .cr.number {
  border-left: 3px solid #2fa1d6;
}

.dg .cr.number input[type="text"] {
  color: #2fa1d6;
}

.dg .cr.string {
  border-left: 3px solid #1ed36f;
}

.dg .cr.string input[type="text"] {
  color: #1ed36f;
}

.dg .cr.boolean:hover,
.dg .cr.function:hover {
  background: rgba(250, 250, 250, 0.9);
}

.dg .c input[type="text"] {
  background: rgba(50, 50, 50, 0.7);
  outline: 0;
}

.dg .c input[type="text"]:hover {
  background: rgba(70, 70, 70, 0.7);
}

.dg .c input[type="text"]:focus {
  background: rgba(50, 50, 50, 0.7);
  color: #fff;
}

.dg .c .slider {
  background: rgba(50, 50, 50, 0.7);
  cursor: ew-resize;
}

.dg .c .slider-fg {
  background: #2fa1d6;
  max-width: 100%;
}

.dg .c .slider:hover {
  background: rgba(70, 70, 70, 0.7);
}

.dg .c .slider:hover .slider-fg {
  background: #44abda;
}